.ui-control-variable-array

    &-title
        padding-top: 0.5em

    &-description
        font-size: 0.75em;
        padding-top: 0.5em;
        color: #666;

    &-empty-list
        display: flex
        height: 5em
        align-items: center;
        justify-content: center;

    &-description
        padding-top: 0.5em

    &-item
        padding-left: 2em;
        clearfix();

        &-title
            float: left
            max-width: 2em;
            min-width: 2em;
            margin-left -2em;
            padding-top: 0.5em;
            box-sizing: border-box;
            display: flex;
            flex-flow: column;
            align-items: center;

            >label
                line-height: 1.5;

        &-content
            width: 100%;
            float: left;


    // &-list
