@require 'nib'

global-reset();

@require 'melon/css/theme/default';
@require 'melon/css/TextBox.styl';
@require 'melon/css/Button.styl';
@require 'melon/css/Validity.styl';
@require 'melon/css/Title.styl';
@require 'melon/css/Select.styl';
@require 'melon/css/Toggle.styl';
@require 'melon-layer/lib/index.css';
@require '../../src/index.styl'

html, body
    font-size: 16px;
    font-family: hack;


.ui-app
    display: flex
    align-items: stretch;

    >*
        flex: 0 0 50%;
        max-width: 50%;
        box-sizing: border-box;
        padding: 1rem;
        white-space: pre-wrap;

        &:nth-child(2)
            border-left: 1px solid #bbb
