.ui-control-validity-label
    display: block;
    height: 2em;
    line-height: 2em;
    font-size: 0.75em;

    &.state-valid
        visibility: hidden;

    &.state-invalid
        color: $-melon-colors.red400;
