@require 'nib'

global-reset();

@require 'melon/css/theme/default';
@require 'melon/css/TextBox.styl';
@require 'melon/css/Button.styl';
@require 'melon/css/Validity.styl';
@require 'melon/css/Title.styl';
@require 'melon/css/Select.styl';
@require 'melon/css/Toggle.styl';
@require '../src/index.styl'

html, body
    height: 100%
    overflow: hidden
    font-size: 16px;
    font-family: hack;

#app
    height: 100%

@require './component/App.styl'
