.ui-control-datetime

    &-title
        padding-top: 0.5em
        line-height: 1.5

    &-description
        font-size: 0.75em;
        padding-top: 0.5em;
        color: #666;

    &-content
        padding-top: 0.5em

        .ui-time-picker
            margin-left: 0.5em

    &.state-invalid
        .ui-time-picker >label,
        .ui-calendar >label
            border-bottom-color: $-melon-colors.red400
