.ui-control-color

    &-title
        padding-top: 0.5em
        line-height: 1.5

    .ui-color-picker
        padding-top: 0.5em

    &.state-invalid

        .ui-color-picker
            border-bottom-color: $-melon-colors.red400
