.ui-control-date

    &-title
        padding-top: 0.5em
        line-height: 1.5


    >.ui-calendar
        padding-top: 0.5em

    &.state-invalid >.ui-calendar
        border-bottom-color: $-melon-colors.red400
