.ui-control-range

    &-title
        padding-top: 0.5em
        line-height: 1.5

    &-description
        font-size: 0.75em;
        padding-top: 0.5em;
        color: #666;

    .ui-slider
        margin-bottom: 0;
