@require 'melon/css/base.styl'

.{$-melon-class-prefix}-field

    position: relative;
    width: 100%;

    &-content
        overflow: hidden;

    &-string,
    &-number
        padding-bottom: 2em


    &-title
        line-height: 1.5

        &.variant-level-0
            font-size: 18px !important

        &.variant-level-1
            font-size: 16px !important

        &.variant-level-2
            font-size: 14px !important

        &.variant-level-3
            font-size: 13px !important

        &.variant-level-4
            font-size: 12px !important
