@require 'nib'

global-reset();

@require 'melon/css/theme/default';
@require 'melon/css/TextBox.styl';
@require 'melon/css/Button.styl';
@require 'melon/css/Validity.styl';
@require 'melon/css/Title.styl';
@require 'melon/css/Select.styl';
@require 'melon/css/Toggle.styl';
@require 'melon/css/Tabs.styl';
@require '../../src/index.styl';

html, body
    font-size: 16px;
    font-family: hack;

#app
    width: 60rem;
    margin: 0 auto;
